.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  background-image: url('../images/first-bg.png'),
    url('../images/second-bg.png');
  background-position: -150px 250px, 100% 200px;
  background-repeat: no-repeat;
}

.header {
  min-height: 100px;
  background-color: #9564aa;
  color: #fff;
  display: flex;
  width: 100%;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
  }
  &__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 34px;
    height: 18px;
    cursor: pointer;

    &-line {
      width: 100%;
      height: 3px;
      background-color: white;
      transition: all 0.3s;
    }

    &.active .header__burger-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &.active .header__burger-line:nth-child(2) {
      opacity: 0;
    }

    &.active .header__burger-line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 370px;
    font-weight: 700;
    font-size: 16px;
    margin-right: 100px;
  }
  &__button {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
    height: 30px;
    font-weight: 700;
    font-size: 16px;
    background-color: #684677;
    color: #ffcf2d;
    border: 0;
    border-radius: 10px;
  }
  &__mobile {
    display: none;
  }
  &__text {
    text-decoration: none;
    color: #fff;
  }
}

.main {
  max-width: 1280px;
  margin: 30px auto;
  display: flex;
  padding: 0 20px;
  gap: 30px;
}

li {
  list-style: none;
}

.sidebar {
  background-color: #9564aa1a;
  width: 238px;
  height: 770px;
  border-radius: 10px;
  border: 2px solid #9564aa33;
  padding: 15px;
  &__block {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 18px;
    border-bottom: 2px solid #9564aa33;
  }
  &__links {
    margin: 20px 13px;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 23px;
  }
  &__links {
    gap: 60px;
  }
  &__link-text {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
    color: #000000;
  }
  &__name {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
  }
  &__button {
    margin: 0;
    border-radius: 5px;
    background-color: #684677;
    height: 21px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
  }
}

.section-slider {
  display: none;
}

.credit-page {
  margin-top: -10px;
}

.credit {
  max-width: 870px;
  width: 100%;
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    border: none;
    padding-bottom: 20px;
    border-bottom: 2px solid #9564aa;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.25), 1px -1px 0 rgba(0, 0, 0, 0.25),
      1px 1px 0 rgba(0, 0, 0, 0.25), 5px 4px 0 rgba(0, 0, 0, 0.25);
  }
  &__cards-block {
    display: flex;
  }
  &__offer-block {
    background-color: #c15ca1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 13px;
  }
  &__sale {
    color: #ffcf2d;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: 2px;
    line-height: 45.96px;
  }
  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
  }
  &__timer {
    background-color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    padding: 4px 20px;
    border-radius: 5px;
    margin: 0;
  }
  &__cards-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
    margin: 26px 0 16px;
    gap: 30px;
  }
  &__card-squad {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 150px;
    height: 116px;
    border: 2px solid #9564aa;
    background-color: #9564aa1a;
    gap: 11px;
    justify-content: center;
    padding-bottom: 4px;
    &_active {
      gap: 0;
      background-color: #9564aa;
    }
    &:hover {
      background-color: #9564aa;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      .credit__span {
        display: inline-block;
      }
      .credit__count {
        color: #fff;
      }
      .credit__button {
        color: #000000;
      }
    }

    .credit__price {
      transition: color 0.3s ease;
    }

    .credit__button {
      background-color: #ffcf2d;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e5b62a;
      }
    }
  }
  &__buy-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41px;
    max-width: 890px;
    height: 70px;
    width: 100%;
    background-color: #aa646433;
    border-radius: 10px;
    border: 2px solid #aa6464;
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 5px;

    &_active {
      margin: 7px 0 11px;
    }
  }

  &__price_special {
    margin: 0 0 10px 70px;
  }

  &__count {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    &_active {
      color: #fff;
    }
  }
  &__name {
    background-color: #ffcf2d;
    border-radius: 50px;
    font-size: 8px;
    padding: 4px;
    font-weight: 700;
    max-height: 17px;
    max-width: 17px;
    margin: 0;
  }
  &__button {
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    color: #00000033;
    border: 0;
    width: 185px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    &_squad {
      width: 120px;
      height: 52px;
    }
    &_active {
      width: 120px;
      height: 52px;
      background-color: #ffcf2d;
    }
  }
  &__span {
    display: none;
    background-color: #ffcf2d;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 700;
    margin-top: -20px;
  }
}

.credit__checkbox {
  margin-top: 12px;
  .custom-checkbox {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    &__input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    &__checkmark {
      width: 18px;
      height: 18px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 5px;
      display: inline-block;
      margin-right: 10px;
      position: relative;
      transition: background-color 0.2s ease;
      font-size: 13px;
      font-weight: 400;
      margin-bottom: -5px;

      &::after {
        content: '';
        position: absolute;
        display: none;
        left: 6px;
        top: 4px;
        width: 4px;
        height: 9px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &__input:checked + .custom-checkbox__checkmark {
      background-color: #9564aa;
      border-color: #9564aa;

      &::after {
        display: block;
      }
    }
    &__link {
      color: #9564aa;
      text-decoration: none;
    }
  }
}

.stages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    '. icon1 icon2 .'
    'icon3 icon4 icon4 icon5'
    '. icon6 icon7 .';
  max-width: 340px;
  margin: 30px auto 0;
  gap: 14px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 30px 100px 100px 30px;
  &__line {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    width: 118px;
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    line-height: 14px;
    text-align: center;
    color: #9564aa;
  }
  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  &__icon:nth-child(1) {
    grid-area: icon1;
  }
  &__icon:nth-child(2) {
    grid-area: icon2;
  }
  &__icon:nth-child(3) {
    grid-area: icon3;
  }

  &__icon:nth-child(4) {
    grid-area: icon4;
  }

  &__icon:nth-child(5) {
    grid-area: icon5;
  }

  &__icon:nth-child(6) {
    grid-area: icon6;
  }

  &__icon:nth-child(7) {
    grid-area: icon7;
  }
  &__icon {
    display: flex;
    position: relative;
    cursor: pointer;
  }
  &__img-wrapper {
    transition: background-color 0.3s ease;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9564aa1a;
    border-radius: 100px;
  }
  &__text {
    transition: color 0.3s ease;
  }
  &__icon:hover &__img-wrapper img {
    filter: brightness(0) invert(1);
  }
  &__icon:hover &__img-wrapper {
    background-color: #ffcf2d;
  }
  &__icon:hover &__text {
    content: 'Просмотр скрытых фото';
    color: #ffcf2d;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .header {
    min-height: 50px;
    &__logo {
      display: none;
    }
    &__text {
      display: none;
    }
    &__button {
      display: none;
    }
    &__mobile {
      display: block;
    }
    &__wrapper {
      width: 85%;
    }
    &__burger {
      display: flex;
    }
  }
  .credit__offer-block {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .main {
    margin-top: 15px;
  }
  .custom__checkbox {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
  }

  .page {
    background-image: none;
  }

  .credit-page {
    max-width: 280px;
    margin: 0 auto;
  }

  .credit {
    max-width: 870px;
    width: 100%;
    &__title {
      font-size: 20px;
      padding-bottom: 10px;
      text-shadow: none;
    }
    &__container {
      display: none;
    }
    &__checkbox {
      .custom-checkbox {
        max-width: 250px;
        flex-wrap: wrap;
      }
    }
  }

  .stages {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-areas:
      'icon4'
      'icon1'
      'icon2'
      'icon3'
      'icon5'
      'icon6'
      'icon7';
    margin: 36px auto 0;
    gap: 5px;
    &__icon {
      flex-direction: row;
      gap: 9px;
    }
    &__text {
      max-width: 196px;
      width: 100%;
      text-align: start;
    }
    &__almaz {
      margin: 0 auto;
      width: 81px;
      height: 67px;
    }
    &__img-wrapper {
      width: 30px;
      height: 30px;
    }
    &__img {
      width: 16px;
      height: 16px;
    }
  }
  .section-slider {
    position: relative;
    display: block;
    margin-top: 35px;
  }
  .content-slider {
    max-width: 1366px;
  }
  .slider {
    width: 320px;
    height: 80px;
    overflow: hidden;
  }
  .middle {
    position: absolute;
    top: -32.5%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .navigation {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar {
    height: 7px;
    width: 7px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: 0.5;
    border-radius: 10px;
    transition: all 0.4s ease;
    background-color: #ffc500;
  }
  .bar:hover {
    opacity: 1;
    transform: scale(1.1);
  }
  input[name='r'] {
    position: absolute;
    visibility: hidden;
  }

  .slides {
    width: 500%;
    height: 100%;
    display: flex;
    gap: 10px;
  }
  .slide {
    transition: all 0.6s ease;
    width: 100%;
    &__span {
      background-color: #ffcf2d;
      height: 17px;
      width: 103px;
      border-radius: 5px;
      color: #000000;
      margin-top: 15px;
      margin-left: -15px;
      font-size: 14px;
      font-weight: 700;
      padding: 4px 10px;
    }
    &__count {
      margin: auto 30px auto 0;
      font-size: 24px;
      font-weight: 700;
      display: flex;
      align-items: center;
    }
    &__currency {
      background-color: #ffcf2d;
      margin-left: 5px;
      color: #000000;
      font-size: 8px;
      padding: 4px;
      border-radius: 100px;
    }
    &__slash {
      font-weight: 400;
    }
    &__button {
      max-width: 300px;
      width: 100%;
      margin-left: -10px;
      background-color: #ffcf2d;
      border-radius: 10px;
      height: 55px;
      border: 0;
      font-weight: 700;
      font-size: 16px;
      margin: 95px auto 0;
    }
    &__card-squad {
      display: flex;
      justify-content: space-between;
      background-color: #9564aa;
      height: 59px;
      border-radius: 10px;
      color: #fff;
      display: flex;
      max-width: 260px;
    }
  }

  #r1:checked ~ .s1 {
    margin-left: 2.4%;
  }

  #r2:checked ~ .s1 {
    margin-left: -23%;
  }

  #r3:checked ~ .s1 {
    margin-left: -64%;
  }

  #r4:checked ~ .s1 {
    margin-left: -146.6%;
  }

  #r5:checked ~ .s1 {
    margin-left: -393.5%;
  }
}
