.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  background-image: url('../images/first-bg.png'),
    url('../images/second-bg.png');
  background-position: -150px 250px, 100% 200px;
  background-repeat: no-repeat;
}

.header {
  min-height: 100px;
  background-color: #9564aa;
  color: #fff;
  display: flex;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
}

.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 370px;
  font-weight: 700;
  font-size: 16px;
  margin-right: 80px;
}

.header__burger {
  display: none;
}

.header__button {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  height: 30px;
  font-weight: 700;
  font-size: 16px;
  background-color: #684677;
  color: #ffcf2d;
  border: 0;
  border-radius: 10px;
}

.header__mobile {
  display: none;
}

.header__link {
  text-decoration: none;
  color: #fff;
}

.main {
  max-width: 1280px;
  margin: 30px auto;
  display: flex;
  padding: 0 20px;
  gap: 30px;
}

li {
  list-style: none;
}

.sidebar {
  background-color: #9564aa1a;
  width: 238px;
  height: 770px;
  border-radius: 10px;
  border: 2px solid #9564aa33;
  padding: 15px;
}

.sidebar__link-list {
  padding: 0;
}

.sidebar__block {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 18px;
  border-bottom: 2px solid #9564aa33;
}

.sidebar__links {
  margin: 20px 13px;
  gap: 60px;
}

.sidebar__link {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 23px;
}

.sidebar__link-text {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  text-decoration: none;
  color: #000000;
}

.sidebar__name {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}

.sidebar__button {
  margin: 0;
  border-radius: 5px;
  background-color: #684677;
  height: 21px;
  color: #fff;
  border: 0;
  font-size: 10px;
  font-weight: 400;
}

.credit__slider {
  display: none;
}

.credit__page {
  margin-top: -10px;
}

.credit {
  max-width: 870px;
  width: 100%;
  margin-top: -10px;
}

.credit__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  border: none;
  padding-bottom: 20px;
  border-bottom: 2px solid #9564aa;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.25), 1px -1px 0 rgba(0, 0, 0, 0.25),
    1px 1px 0 rgba(0, 0, 0, 0.25), 5px 4px 0 rgba(0, 0, 0, 0.25);
}

.credit__cards-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
  margin: 26px 0 16px;
  gap: 30px;
}

.credit__offer-block {
  background-color: #c15ca1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 13px;
}

.credit__sale {
  color: #ffcf2d;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  -webkit-text-stroke: 1px #fff;
  letter-spacing: 2px;
  line-height: 45.96px;
}

.credit__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.credit__timer {
  background-color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  padding: 4px 20px;
  border-radius: 5px;
  margin: 0;
}

.credit__card-squad {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 150px;
  height: 116px;
  border: 2px solid #9564aa;
  background-color: #9564aa1a;
  gap: 11px;
  justify-content: center;
  padding-bottom: 4px;
}

.credit__card-squad_active {
  gap: 0;
  background-color: #9564aa;
}

.credit__card-squad:hover {
  background-color: #9564aa;
}

.credit__card-squad:hover .credit__span {
  display: inline-block;
}

.credit__card-squad:hover .credit__count {
  color: #fff;
}

.credit__card-squad:hover .credit__button {
  color: #000000;
  background-color: #ffcf2d;
}

.credit__price {
  transition: color 0.3s ease;
}

.credit__button {
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  color: #00000033;
  border: 0;
  width: 185px;
  height: 50px;
  margin: 0 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.credit__button:hover {
  color: #000000;
  background-color: #ffcf2d;
}

.credit__buy-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 41px;
  max-width: 890px;
  height: 70px;
  width: 100%;
  background-color: #aa646433;
  border-radius: 10px;
  border: 2px solid #aa6464;
}

.credit__price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.credit__price_active {
  margin: 7px 0 11px;
}

.credit__price_special {
  margin: 0 0 10px 70px;
}

.credit__count {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.credit__count_active {
  color: #fff;
}

.credit__name {
  background-color: #ffcf2d;
  border-radius: 50px;
  font-size: 8px;
  padding: 4px;
  font-weight: 700;
  max-height: 17px;
  max-width: 17px;
  margin: 0;
}

.credit__button_squad {
  width: 120px;
  height: 52px;
}

.credit__button_active {
  width: 120px;
  height: 52px;
  background-color: #ffcf2d;
}

.credit__span {
  display: none;
  background-color: #ffcf2d;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 700;
  margin-top: -20px;
}

.credit__checkbox {
  margin-top: 12px;
}

.custom-checkbox {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.custom-checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox__checkmark {
  width: 18px;
  height: 18px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  transition: background-color 0.2s ease;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: -5px;
}

.custom-checkbox__checkmark::after {
  content: '';
  position: absolute;
  display: none;
  left: 6px;
  top: 4px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox__input:checked + .custom-checkbox__checkmark {
  background-color: #9564aa;
  border-color: #9564aa;
}

.custom-checkbox__input:checked + .custom-checkbox__checkmark::after {
  display: block;
}

.custom-checkbox__link {
  color: #9564aa;
  text-decoration: none;
}

.stages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    '. icon1 icon2 .'
    'icon3 icon4 icon4 icon5'
    '. icon6 icon7 .';
  max-width: 340px;
  margin: 30px auto 0;
  gap: 14px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 30px 100px 100px 30px;
}

.stages__line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stages__text {
  width: 118px;
  font-weight: 700;
  font-size: 12px;
  margin: 0;
  line-height: 14px;
  text-align: center;
  color: #9564aa;
  transition: color 0.3s ease;
}

.stages__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  cursor: pointer;
}

.stages__icon:nth-child(1) {
  grid-area: icon1;
}

.stages__icon:nth-child(2) {
  grid-area: icon2;
}

.stages__icon:nth-child(3) {
  grid-area: icon3;
}

.stages__icon:nth-child(4) {
  grid-area: icon4;
}

.stages__icon:nth-child(5) {
  grid-area: icon5;
}

.stages__icon:nth-child(6) {
  grid-area: icon6;
}

.stages__icon:nth-child(7) {
  grid-area: icon7;
}

.stages__img-wrapper {
  transition: background-color 0.3s ease;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9564aa1a;
  border-radius: 100px;
}

.stages__icon:hover .stages__img-wrapper img {
  filter: brightness(0) invert(1);
}

.stages__icon:hover .stages__img-wrapper {
  background-color: #ffcf2d;
}

.stages__icon:hover .stages__text {
  color: #ffcf2d;
  content: 'Просмотр скрытых фото';
}

@media (max-width: 1000px) {
  .header {
    min-height: 50px;
  }

  .header__wrapper {
    width: 85%;
  }

  .header__burger {
    position: relative;
    display: flex;
    z-index: 5;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: 30px;
    height: 18px;
  }

  .header__burger span {
    width: 80%;
    height: 2px;
    background-color: #fff;
    transform: scale(1);
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .header__burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .sidebar {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 55px;
    bottom: 0;
    left: 5px;
    right: 0;
    height: 400px;
    width: 200px;
    z-index: 4;
    background-color: #9564aa;
  }

  .sidebar.active {
    display: flex;
  }

  .sidebar__links {
    margin-top: 0;
  } 

  .sidebar__link-text {
    color: #fff;
  }

  .sidebar__block {
    color: #fff;
  }

  .header__logo,
  .header__block,
  .header__button {
    display: none;
  }

  .header__mobile {
    display: block;
  }

  .credit {
    margin: 0 auto;
  }

  .credit__offer-block {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  .main {
    margin-top: 15px;
  }

  .custom__checkbox {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
  }

  .page {
    background-image: none;
  }

  .credit__page {
    max-width: 280px;
    margin: 0 auto;
  }

  .credit {
    max-width: 870px;
    width: 100%;
  }

  .credit__title {
    font-size: 20px;
    padding-bottom: 10px;
    text-shadow: none;
  }

  .credit__container {
    display: none;
  }

  .credit__checkbox .custom-checkbox {
    max-width: 250px;
    flex-wrap: wrap;
  }

  .stages {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-areas:
      'icon4'
      'icon1'
      'icon2'
      'icon3'
      'icon5'
      'icon6'
      'icon7';
    margin: 36px auto 0;
    gap: 5px;
  }

  .stages__icon {
    flex-direction: row;
    gap: 9px;
  }

  .stages__text {
    max-width: 196px;
    width: 100%;
    text-align: start;
  }

  .stages__almaz {
    margin: 0 auto;
    width: 81px;
    height: 67px;
  }

  .stages__img-wrapper {
    width: 30px;
    height: 30px;
  }

  .stages__img {
    width: 16px;
    height: 16px;
  }

  .credit__slider {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 35px;
    max-width: 1366px;
  }

  .slider {
    width: 320px;
    height: 80px;
    overflow: hidden;
  }

  .middle {
    position: absolute;
    top: -32.5%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .navigation {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .bar {
    height: 7px;
    width: 7px;
    margin: 6px;
    cursor: pointer;
    background-color: #ffc500;
    opacity: 0.5;
    border-radius: 10px;
    transition: all 0.4s ease;
  }

  .bar:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  input[name='r'] {
    position: absolute;
    visibility: hidden;
  }

  .slides {
    width: 500%;
    height: 100%;
    display: flex;
    gap: 10px;
  }

  .slide {
    transition: all 0.6s ease;
    width: 100%;
  }

  .slide__span {
    background-color: #ffcf2d;
    height: 17px;
    width: 103px;
    border-radius: 5px;
    color: #000000;
    margin-top: 15px;
    margin-left: -15px;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 10px;
  }

  .slide__count {
    margin: auto 30px auto 0;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  .slide__currency {
    background-color: #ffcf2d;
    margin-left: 5px;
    color: #000000;
    font-size: 8px;
    padding: 4px;
    border-radius: 100px;
  }

  .slide__slash {
    font-weight: 400;
  }

  .slide__button {
    max-width: 300px;
    width: 100%;
    margin-left: -10px;
    background-color: #ffcf2d;
    border-radius: 10px;
    height: 55px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    margin: 95px auto 0;
  }

  .slide__card-squad {
    display: flex;
    justify-content: space-between;
    background-color: #9564aa;
    height: 59px;
    border-radius: 10px;
    color: #fff;
    max-width: 260px;
  }

  #r1:checked ~ .s1 {
    margin-left: 2.4%;
  }

  #r2:checked ~ .s1 {
    margin-left: -23%;
  }

  #r3:checked ~ .s1 {
    margin-left: -64%;
  }

  #r4:checked ~ .s1 {
    margin-left: -146.6%;
  }

  #r5:checked ~ .s1 {
    margin-left: -393.5%;
  }
}
