$header-text-color: #fff;
$sidebar-bg: rgba(149, 100, 170, 0.1);
$sidebar-border-color: rgba(149, 100, 170, 0.2);
$sidebar-button-bg: #684677;
$highlight-color: #ffcf2d;
$text-color-white: #ffffff;
$primary-color: #9564aa;

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  color: #000;
  font-family: 'Ubuntu', sans-serif;
  background-image: url('../images/first-bg.png'),
    url('../images/second-bg.png');
  background-position: -150px 250px, 100% 200px;
  background-repeat: no-repeat;
}

.header {
  min-height: 100px;
  background-color: $primary-color;
  color: $header-text-color;
  display: flex;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 370px;
    font-weight: 700;
    font-size: 16px;
    margin-right: 80px;
  }

  &__burger {
    display: none;
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
    height: 30px;
    font-weight: 700;
    font-size: 16px;
    background-color: #684677;
    color: #ffcf2d;
    border: 0;
    border-radius: 10px;
  }

  &__mobile {
    display: none;
  }

  &__link {
    text-decoration: none;
    color: $header-text-color;
  }
}

.main {
  max-width: 1280px;
  margin: 30px auto;
  display: flex;
  padding: 0 20px;
  gap: 30px;
}

li {
  list-style: none;
}

.sidebar {
  background-color: $sidebar-bg;
  width: 238px;
  height: 770px;
  border-radius: 10px;
  border: 2px solid $sidebar-border-color;
  padding: 15px;

  &__link-list {
    padding: 0;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 18px;
    border-bottom: 2px solid $sidebar-border-color;
  }

  &__links {
    margin: 20px 13px;
    gap: 60px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 23px;
  }

  &__link-text {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
    color: #000000;
  }

  &__name {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
  }

  &__button {
    margin: 0;
    border-radius: 5px;
    background-color: #684677;
    height: 21px;
    color: #fff;
    border: 0;
    font-size: 10px;
    font-weight: 400;
  }
}

.credit {
  max-width: 870px;
  width: 100%;
  margin-top: -10px;

  &__slider-container {
    display: none;
  }

  &__page {
    margin-top: -10px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    border: none;
    padding-bottom: 20px;
    border-bottom: 2px solid $primary-color;
    text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.25), 1px -1px 0 rgba(0, 0, 0, 0.25),
      1px 1px 0 rgba(0, 0, 0, 0.25), 5px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &__cards-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(144px, 1fr));
    margin: 26px 0 16px;
    gap: 30px;
  }

  &__offer-block {
    background-color: #c15ca1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 13px;
  }
  &__sale {
    color: #ffcf2d;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    -webkit-text-stroke: 1px #fff;
    letter-spacing: 2px;
    line-height: 45.96px;
  }

  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $text-color-white;
  }

  &__timer {
    background-color: $text-color-white;
    font-size: 40px;
    font-weight: 400;
    padding: 4px 20px;
    border-radius: 5px;
    margin: 0;
  }

  &__card-squad {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 150px;
    height: 116px;
    border: 2px solid $primary-color;
    background-color: rgba(149, 100, 170, 0.1);
    gap: 11px;
    justify-content: center;
    padding-bottom: 4px;

    &--active {
      gap: 0;
      background-color: $primary-color;
    }

    &:hover {
      background-color: $primary-color;

      .credit__span {
        display: inline-block;
      }

      .credit__count {
        color: $text-color-white;
      }

      .credit__button {
        color: #000000;
        background-color: $highlight-color;
      }
    }
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s ease;

    &_active {
      margin: 7px 0 11px;
    }

    &_special {
      margin: 0 0 10px 70px;
    }
  }

  &__count {
    font-size: 24px;
    font-weight: 700;
    margin: 0;

    &_active {
      color: $text-color-white;
    }
  }

  &__name {
    background-color: $highlight-color;
    border-radius: 50px;
    font-size: 8px;
    padding: 4px;
    font-weight: 700;
    max-height: 17px;
    max-width: 17px;
    margin: 0;
  }

  &__button {
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    color: #00000033;
    border: 0;
    width: 185px;
    height: 50px;
    margin: 0 20px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: #000000;
      background-color: #ffcf2d;
    }
  }

  &__buy-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41px;
    max-width: 890px;
    height: 70px;
    width: 100%;
    background-color: rgba(170, 100, 100, 0.2);
    border-radius: 10px;
    border: 2px solid rgba(170, 100, 100, 0.5);
  }

  &__checkbox {
    margin-top: 12px;
  }

  &__span {
    display: none;
    background-color: $highlight-color;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 700;
    margin-top: -20px;
  }

  &__button_squad {
    width: 120px;
    height: 52px;
  }

  &__button_active {
    width: 120px;
    height: 52px;
    background-color: $highlight-color;
  }
  &__checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  &__checkmark {
    width: 18px;
    height: 18px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    transition: background-color 0.2s ease;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: -5px;
    &::after {
      content: '';
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 4px;
      height: 9px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
  &__checkbox-input:checked + &__checkmark {
    background-color: #9564aa;
    border-color: #9564aa;

    &::after {
      display: block;
    }
  }
  &__link {
    color: #9564aa;
    text-decoration: none;
  }
  &__stages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      '. icon1 icon2 .'
      'icon3 icon4 icon4 icon5'
      '. icon6 icon7 .';
    max-width: 340px;
    margin: 30px auto 0;
    gap: 14px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 30px 100px 100px 30px;
  }
  &__stages-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    position: relative;
    cursor: pointer;

    &:nth-child(1) {
      grid-area: icon1;
    }
    &:nth-child(2) {
      grid-area: icon2;
    }
    &:nth-child(3) {
      grid-area: icon3;
    }
    &:nth-child(4) {
      grid-area: icon4;
    }
    &:nth-child(5) {
      grid-area: icon5;
    }
    &:nth-child(6) {
      grid-area: icon6;
    }
    &:nth-child(7) {
      grid-area: icon7;
    }

    &:hover {
      .credit__stages-wrapper {
        background-color: #ffcf2d;

        img {
          filter: brightness(0) invert(1);
        }
      }

      .credit__stages-text {
        color: #ffcf2d;
        content: 'Просмотр скрытых фото';
      }
    }
  }
  &__stages-wrapper {
    transition: background-color 0.3s ease;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9564aa1a;
    border-radius: 100px;
  }
  &__stages-text {
    width: 118px;
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    line-height: 14px;
    text-align: center;
    color: #9564aa;
    transition: color 0.3s ease;
  }
}

@media (max-width: 1000px) {
  .header {
    min-height: 50px;
    &__wrapper {
      width: 85%;
    }
    &__burger {
      position: relative;
      display: flex;
      z-index: 5;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      width: 30px;
      height: 18px;

      span {
        width: 80%;
        height: 2px;
        background-color: #fff;
        transform: scale(1);
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #fff;
        transition: all 0.3s ease 0s;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active {
        span {
          transform: scale(0);
        }

        &::before {
          top: 50%;
          transform: rotate(-45deg) translate(0, -50%);
        }

        &::after {
          bottom: 50%;
          transform: rotate(45deg) translate(0, 50%);
        }
      }
    }
    &__logo,
    &__block,
    &__button {
      display: none;
    }
    &__mobile {
      display: block;
    }
  }

  .sidebar {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 55px;
    bottom: 0;
    left: 5px;
    right: 0;
    height: 400px;
    width: 200px;
    z-index: 4;
    background-color: #9564aa;

    &.active {
      display: flex;
    }

    &__links {
      margin-top: 0;
    }

    &__link-text,
    &__block {
      color: #fff;
    }

    &__link-text,
    &__block {
      color: #fff;
    }
  }

  .credit {
    margin: 0 auto;

    &__offer-block {
      flex-direction: column;
    }
  }
}

@media (max-width: 360px) {
  .main {
    margin-top: 15px;
  }

  .page {
    background-image: none;
  }

  .credit {
    max-width: 870px;
    width: 100%;

    &__page {
      max-width: 280px;
      margin: 0 auto;
    }

    &__title {
      font-size: 20px;
      padding-bottom: 10px;
      text-shadow: none;
    }

    &__container {
      display: none;
    }

    &__checkbox {
      font-weight: 400;
      font-size: 10px;
      line-height: 16px;
    }
    &__custom-checkbox {
      max-width: 260px;
      flex-wrap: wrap;
    }
    &__slider-container {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 35px;
      max-width: 1366px;
    }
    &__slider {
      width: 320px;
      height: 80px;
      overflow: hidden;
    }
    &__slides {
      width: 500%;
      height: 100%;
      display: flex;
      gap: 10px;
    }
    &__slide {
      transition: all 0.6s ease;
      width: 100%;
    }
    &_middle {
      position: absolute;
      top: -32.5%;
      left: 50%;
      transform: translate(-50%, 50%);
    }
    &__navigation {
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }
    &__bar {
      height: 7px;
      width: 7px;
      margin: 6px;
      cursor: pointer;
      background-color: #ffc500;
      opacity: 0.5;
      border-radius: 10px;
      transition: all 0.4s ease;

      &:hover {
        opacity: 1;
        transform: scale(1.1);
      }
    }

    &__currency {
      background-color: #ffcf2d;
      margin: 0 4px;
      color: #000000;
      font-size: 8px;
      padding: 4px;
      border-radius: 100px;
    }

    &__button {
      max-width: 300px;
      width: 100%;
      margin-left: -10px;
      background-color: #ffcf2d;
      border-radius: 10px;
      height: 55px;
      border: 0;
      font-weight: 700;
      font-size: 16px;
      margin: 95px auto 0;
      color: #000000;
    }
    &__slide {
      transition: all 0.6s ease;
      width: 100%;
    }
    &__span {
      display: flex;
      background-color: #ffcf2d;
      height: 17px;
      width: 103px;
      border-radius: 5px;
      color: #000000;
      margin: 0 0 0 -18px;
      font-size: 14px;
      font-weight: 800;
      padding: 4px 10px;
    }

    &__count {
      margin: auto 30px auto 0;
      font-size: 24px;
      font-weight: 700;
      display: flex;
      align-items: center;
    }

    &__slash {
      font-weight: 400;
    }

    &__card-squad {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #9564aa;
      height: 51px;
      border-radius: 10px;
      color: #fff;
      max-width: 258px;
      width: 100%;
    }
    input[name='r'] {
      position: absolute;
      visibility: hidden;
    }
    #r1:checked ~ .s1 {
      margin-left: 2.4%;
    }

    #r2:checked ~ .s1 {
      margin-left: -23%;
    }

    #r3:checked ~ .s1 {
      margin-left: -64%;
    }

    #r4:checked ~ .s1 {
      margin-left: -146.6%;
    }

    #r5:checked ~ .s1 {
      margin-left: -393.5%;
    }

    &__stages {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 50px 50px 50px 50px;
      grid-template-areas:
        'icon4'
        'icon1'
        'icon2'
        'icon3'
        'icon5'
        'icon6'
        'icon7';
      margin: 50px auto 0;
      gap: 0;
    }
    &__stages-icon {
      flex-direction: row;
      gap: 9px;
      min-height: 50px;
    }

    &__stages-text {
      max-width: 196px;
      width: 100%;
      text-align: start;
    }

    &__almaz {
      margin: 0 auto 10px;
      width: 81px;
      height: 67px;
    }

    &__stages-wrapper {
      width: 30px;
      height: 30px;
    }
    &__stages-img {
      width: 16px;
      height: 16px;
    }
  }
}
